@import 'https://fonts.googleapis.com/css?family=Montserrat';
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 16px; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

img {
  border: 0; }

a {
  text-decoration: none; }

.contact, a {
  color: #424242;
  font-size: 1rem;
  font-weight: bold; }

input[type=submit] {
  cursor: pointer;
  border: none; }

.container {
  width: 90%;
  margin: 0 auto; }
  .container h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    float: right; }
    .container h4 a {
      color: #ab47bc; }
      .container h4 a:hover {
        color: #9c27b0;
        cursor: pointer; }

.division-stripe {
  background-color: #fff;
  height: 5px;
  width: 100%; }

section {
  padding: 4vh 2vw; }
  section h2 {
    color: #424242; }

body {
  font-family: "Montserrat", sans-serif;
  color: #555; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.625rem; }

p {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 10px 0; }

li {
  font-size: 1.75rem; }

.header {
  margin: auto;
  text-align: center;
  color: #fff;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url("../img/bg-header.jpg");
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  position: relative;
  padding-bottom: 15px;
  z-index: 2; }
  .header::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(120, 55, 184, 0.6);
    z-index: -1;
    content: ""; }
  .header__button {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #424242;
    font-size: 1rem;
    margin-top: 40px;
    background-color: rgba(178, 255, 89, 0.8);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 20px 30px;
    -webkit-transition: color .3s ease-in;
    transition: color .3s ease-in; }
    @media (min-width: 768px) {
      .header__button {
        font-size: 1.5rem;
        margin-top: 80px;
        padding: 20px 50px; } }
    .header__button:hover {
      background-color: rgba(178, 255, 89, 0.9); }
  .header h1 {
    font-size: 2.125rem;
    padding: 30px 12px 0px 12px;
    margin: 10vh auto 10vh auto;
    text-transform: uppercase;
    color: #fff; }
    @media (min-width: 768px) {
      .header h1 {
        font-size: 3.375rem; } }
    @media (min-width: 1024px) {
      .header h1 {
        font-size: 3.5rem; } }
  .header .header__info {
    padding-top: 15px; }
    .header .header__info p {
      font-size: 1.25rem;
      color: #fff;
      padding-bottom: 5px; }
      @media (min-width: 768px) {
        .header .header__info p {
          padding-top: 0;
          font-size: 2.5rem; } }
      @media (min-width: 1024px) {
        .header .header__info p {
          font-size: 2.125rem;
          display: inline-block;
          margin-right: 20px; } }
  .header .corner {
    background: #b2ff59;
    color: #424242;
    font-size: 10px;
    position: absolute;
    top: 20px;
    left: -77px;
    width: 225px;
    text-align: center;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
    @media (min-width: 1024px) {
      .header .corner {
        font-size: 22px;
        top: 40px;
        left: -56px;
        width: 250px;
        padding: 10px;
        text-align: center; } }

.support h2 {
  margin: auto;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px; }

.support .realizacao ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .support .realizacao ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin: 0 auto 0 auto;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

.support .realizacao li {
  margin: auto 0;
  width: 40%; }
  .support .realizacao li img {
    max-width: 100%; }
  .support .realizacao li img.fatec {
    margin-top: 15px; }
  .support .realizacao li img.governo {
    max-width: 70%; }
  @media (min-width: 768px) {
    .support .realizacao li {
      margin: auto 0;
      width: 26%; }
      .support .realizacao li img {
        max-width: 60%; }
      .support .realizacao li img.fatec {
        margin-top: 0; }
      .support .realizacao li img.governo {
        max-width: 50%; } }

.support .apoio h2 {
  margin-top: 25px;
  margin-bottom: 15px; }

@media (min-width: 768px) {
  .support .apoio {
    margin-bottom: 0; } }

.support .apoio ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .support .apoio ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin: 0 auto 0 auto;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

.support .apoio li {
  margin: auto 0;
  width: 40%; }
  .support .apoio li img {
    max-width: 100%;
    margin-bottom: 30px; }
  @media (min-width: 768px) {
    .support .apoio li {
      margin: auto 0;
      width: 26%; }
      .support .apoio li img {
        max-width: 60%; } }

.support img {
  display: block;
  margin: auto; }

.tab-list {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  margin: 10px 0 0 0;
  border-bottom: solid 1px #ccc; }
  .tab-list li {
    width: 25%;
    text-align: center;
    margin-bottom: -1px;
    -webkit-border-radius: 10% 10% 0 0;
    border-radius: 10% 10% 0 0; }
    .tab-list li a {
      color: #ab47bc;
      padding: 26px .5px;
      display: block;
      font-size: .75rem; }
      .tab-list li a:hover {
        color: #9c27b0; }
      @media (min-width: 1024px) {
        .tab-list li a {
          font-size: 1.25rem; } }
  .tab-list .active {
    border: solid 1px #ccc;
    border-bottom-color: #fff; }
    .tab-list .active a {
      color: #9c27b0; }

.timeline-container {
  margin: 0; }
  .timeline-container h3 {
    text-transform: uppercase;
    padding-top: 3rem; }

.timeline-item {
  margin: 0;
  position: relative; }
  .timeline-item li {
    margin-top: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .timeline-item li:before {
      content: '';
      width: 18px;
      height: 18px;
      left: 77px;
      top: 35%;
      position: absolute;
      background: #ab47bc;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
      @media screen and (orientation: landscape) {
        .timeline-item li:before {
          top: 39%; } }
      @media (min-width: 768px) {
        .timeline-item li:before {
          left: 116px;
          top: 39%; } }
  .timeline-item span {
    margin-right: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.25rem;
    font-family: monospace;
    width: 90px;
    text-align: center; }
    @media (min-width: 768px) {
      .timeline-item span {
        margin-right: 90px;
        font-size: 1.875rem; } }
  .timeline-item strong {
    margin: 0;
    display: block; }
  .timeline-item .label-type {
    background-color: #9c27b0;
    padding: 6px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px; }
    .timeline-item .label-type p {
      color: #fff; }
  .timeline-item .label-subscribe {
    display: inline-block;
    margin-bottom: 10px; }
    .timeline-item .label-subscribe a {
      color: #555;
      font-size: 1.25rem;
      background-color: #ccff90;
      padding: 6px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      margin-top: 5px; }
      .timeline-item .label-subscribe a:hover {
        background-color: #b2ff59;
        color: #424242;
        cursor: pointer; }
  .timeline-item p {
    margin: 0; }
  .timeline-item:before {
    content: '';
    width: 2.5px;
    height: 100%;
    background: #b2ff59;
    position: absolute;
    left: 84.5px; }
    @media (min-width: 768px) {
      .timeline-item:before {
        left: 123px; } }

.schedule {
  display: none; }

.area-commitao div {
  width: 100%;
  margin: 20px 0;
  background-color: #fff;
  -webkit-border-radius: 1%;
  border-radius: 1%;
  padding: 40px 100px; }

.area-commitao h2,
.area-commitao p {
  text-align: center; }

.area-commitao h2 {
  padding: 0px;
  margin-bottom: 20px; }

.none {
  display: none; }

.staff h2 {
  text-align: center; }

.staff .carousel {
  padding: 30px 100px 20px 100px; }

.staff .carousel-cell {
  width: 150px;
  height: 150px;
  margin-right: 35px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.staff .carousel-cell img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 100%; }

.staff .flickity-prev-next-button .arrow {
  fill: #7837b8; }

@media (max-width: 414px) {
  .staff .carousel {
    padding: 20px 5px 5px 5px; }
  .staff .carousel-cell {
    width: 100px;
    height: 100px;
    margin-right: 15px; } }

footer {
  background-color: #7837b8;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  padding: 0.05vh 2.5vw; }
  footer p {
    font-size: 1rem;
    color: #fff; }
  @media (min-width: 768px) {
    footer {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row;
      -ms-flex-flow: row;
      flex-flow: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media (min-width: 768px) {
    footer ul {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row;
      -ms-flex-flow: row;
      flex-flow: row;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; } }
  @media (min-width: 768px) {
    footer div {
      margin-top: 80px; } }
  footer a {
    color: #fff; }
    footer a:hover {
      color: #b2ff59; }

.video {
  padding: 0;
  border-width: 1px;
  border-style: solid;
  border-top-color: rgba(120, 55, 184, 0.6);
  border-bottom-color: #fff;
  border-left: none;
  border-right: none;
  overflow: hidden; }

.video-wrapper {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  min-height: 400px; }
  .video-wrapper::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/video.gif");
    background-position: center;
    background-size: cover;
    background-color: rgba(66, 66, 66, 0.6);
    -webkit-filter: blur(7px);
    filter: blur(7px);
    z-index: -2; }
  .video-wrapper__text, .video-wrapper__link {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    color: #fff;
    font-size: 2rem; }
  @media (min-width: 768px) {
    .video-wrapper__text {
      margin-left: 15px; } }
  .video-wrapper__link {
    letter-spacing: 1px;
    background-color: #9c27b0;
    text-decoration: underline; }
    @media (min-width: 768px) {
      .video-wrapper__link {
        margin-top: 10px; } }

.faq .transition, .faq p {
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }

.faq .flipIn, .faq ul li {
  -webkit-animation: flipdown .5s ease both;
  animation: flipdown .5s ease both; }

.faq h2 {
  margin-bottom: 15px; }

.faq p {
  overflow: hidden;
  color: #555;
  margin-top: 14px; }

.faq i {
  position: absolute;
  color: #9c27b0;
  -webkit-transition: .5s;
  transition: .5s; }
  @media (min-width: 768px) {
    .faq i {
      position: absolute;
      left: 97%;
      color: #9c27b0;
      -webkit-transition: .5s;
      transition: .5s; } }

.faq ul {
  list-style: none;
  -webkit-perspective: 900;
  perspective: 900;
  padding: 0;
  margin: 0; }
  .faq ul li {
    position: relative;
    padding: .05vh;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 1px solid #ccc; }
    .faq ul li h3 {
      font-size: 1.3rem;
      color: #424242;
      display: inline-block;
      max-width: 240px; }
      @media (min-width: 768px) {
        .faq ul li h3 {
          max-width: none; } }
      @media (min-width: 1024px) {
        .faq ul li h3 {
          max-width: none; } }
    .faq ul li:nth-of-type(1) {
      -webkit-animation-delay: .5s;
      animation-delay: .5s; }
    .faq ul li:nth-of-type(2) {
      -webkit-animation-delay: .75s;
      animation-delay: .75s; }
    .faq ul li:nth-of-type(3) {
      -webkit-animation-delay: 1.0s;
      animation-delay: 1.0s; }
    .faq ul li:nth-of-type(4) {
      -webkit-animation-delay: 1.25s;
      animation-delay: 1.25s; }
    .faq ul li:nth-of-type(5) {
      -webkit-animation-delay: 1.50s;
      animation-delay: 1.50s; }
    .faq ul li:nth-of-type(6) {
      -webkit-animation-delay: 1.75s;
      animation-delay: 1.75s; }
    .faq ul li:nth-of-type(7) {
      -webkit-animation-delay: 2.0s;
      animation-delay: 2.0s; }
    .faq ul li:nth-of-type(8) {
      -webkit-animation-delay: 2.25s;
      animation-delay: 2.25s; }
    .faq ul li:last-of-type {
      padding-bottom: 20px; }
    .faq ul li input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0; }
      .faq ul li input[type=checkbox]:checked ~ p {
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        -webkit-transform: translate(0, 50%);
        -ms-transform: translate(0, 50%);
        transform: translate(0, 50%); }
      .faq ul li input[type=checkbox]:checked ~ i {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transition: .5s;
        transition: .5s;
        color: #424242; }

@-webkit-keyframes flipdown {
  0% {
    opacity: 0;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg); }
  5% {
    opacity: 1; }
  80% {
    -webkit-transform: rotateX(8deg);
    transform: rotateX(8deg); }
  83% {
    -webkit-transform: rotateX(6deg);
    transform: rotateX(6deg); }
  92% {
    -webkit-transform: rotateX(-3deg);
    transform: rotateX(-3deg); }
  100% {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg); } }

@keyframes flipdown {
  0% {
    opacity: 0;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg); }
  5% {
    opacity: 1; }
  80% {
    -webkit-transform: rotateX(8deg);
    transform: rotateX(8deg); }
  83% {
    -webkit-transform: rotateX(6deg);
    transform: rotateX(6deg); }
  92% {
    -webkit-transform: rotateX(-3deg);
    transform: rotateX(-3deg); }
  100% {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg); } }
