@import 'https://fonts.googleapis.com/css?family=Montserrat';
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 16px; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

img {
  border: 0; }

a {
  text-decoration: none;
  color: #7a369d; }

input[type=submit] {
  cursor: pointer;
  border: none; }

.container {
  width: 90%;
  margin: 0 auto; }

section {
  padding: 4vh 2vw; }
  section h2 {
    color: #7a369d; }

body {
  font-family: 'Montserrat', sans-serif;
  color: #555; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.625rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.375rem; }

h6 {
  font-size: 1.25rem; }

p {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 10px 0; }

li {
  font-size: 1.75rem; }

header {
  margin: auto;
  text-align: center;
  color: #fff;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  background-image: url("../img/bg-header.jpg");
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  position: relative;
  z-index: 2; }
  header::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(120, 55, 184, 0.6);
    z-index: -1;
    content: ""; }
  header h1 {
    font-size: 2.125rem;
    padding: 48px 12px 0px 12px;
    margin: auto auto 2rem auto;
    text-transform: uppercase;
    color: #fff; }
    @media (min-width: 768px) {
      header h1 {
        font-size: 3.625rem; } }
  header h2 {
    font-size: 1.5rem;
    padding-top: 24px;
    margin: 2rem auto auto auto;
    color: #fff; }
    @media (min-width: 768px) {
      header h2 {
        font-size: 1.75rem; } }
  header .corner {
    background: #a9cb02;
    font-size: 16px;
    position: absolute;
    top: 40px;
    left: -56px;
    width: 225px;
    text-align: center;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

.tab-list {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  margin: 30px 0 0 0;
  border-bottom: solid 1px #ccc; }
  .tab-list li {
    width: 25%;
    text-align: center;
    margin-bottom: -1px;
    -webkit-border-radius: 10% 10% 0 0;
    border-radius: 10% 10% 0 0; }
    .tab-list li a {
      color: #ac6ccd;
      padding: 26px 0;
      display: block; }
  .tab-list .active {
    border: solid 1px #ccc;
    border-bottom-color: #fff; }
    .tab-list .active a {
      color: #7a369d; }

.timeline-container {
  margin: 0; }
  .timeline-container h3 {
    text-transform: uppercase;
    padding-top: 3rem; }

.timeline-item {
  margin: 36px 0;
  position: relative; }
  .timeline-item li {
    margin: 48px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .timeline-item li:before {
      content: ' ';
      width: 18px;
      height: 18px;
      left: 77px;
      top: 35%;
      position: absolute;
      background: #732d9d;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
      @media screen and (orientation: landscape) {
        .timeline-item li:before {
          top: 39%; } }
      @media (min-width: 768px) {
        .timeline-item li:before {
          left: 116px;
          top: 39%; } }
  .timeline-item span {
    margin-right: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.25rem;
    font-family: monospace;
    width: 90px;
    text-align: center; }
    @media (min-width: 768px) {
      .timeline-item span {
        margin-right: 90px;
        font-size: 1.875rem; } }
  .timeline-item strong {
    margin: 0; }
  .timeline-item p {
    margin: 0; }
  .timeline-item a {
    background: #732d9d;
    color: #fff;
    font-size: 12px;
    padding: 6px;
    display: inline-block; }
    .timeline-item a:hover {
      background: #ace701; }
  .timeline-item:before {
    content: ' ';
    width: 5px;
    height: 100%;
    background: #ace701;
    position: absolute;
    left: 84px; }
    @media (min-width: 768px) {
      .timeline-item:before {
        left: 123px; } }

.schedule {
  display: none; }

.area-commitao div {
  width: 100%;
  margin: 20px 0;
  background-color: #f0f0f0;
  -webkit-border-radius: 1%;
  border-radius: 1%;
  padding: 40px 100px; }

.area-commitao h2, .area-commitao p {
  text-align: center; }

.area-commitao h2 {
  padding: 0px;
  margin-bottom: 20px; }

.none {
  display: none; }

.collection {
  min-height: 10vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #7a369d;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  text-align: center;
  color: #fff; }
  .collection h2 {
    margin: auto auto 2rem auto;
    color: #fff; }
  .collection p {
    margin: 0 auto auto auto; }

.support .fatec-img {
  max-width: 60%; }

.support h2 {
  margin-bottom: 2rem; }

.support ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 auto 40px auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.support li {
  margin: auto 0;
  width: 26%; }
  .support li img {
    max-width: 100%; }

.support img {
  display: block;
  margin: auto; }

/*button*/
.btn {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: rgba(169, 203, 2, 0.9);
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.organization {
  background-color: #7a369d;
  width: 100%;
  padding: 2rem 0;
  text-align: center; }
  .organization h2 {
    color: #fff; }
  .organization p {
    padding-top: 20px;
    color: #fff; }
  .organization a {
    margin: 1.2rem auto auto auto;
    display: block;
    max-width: 150px;
    color: #fff; }
    .organization a:visited {
      color: #fff; }
    .organization a:hover {
      background-color: #a9cb02; }

.location {
  min-height: 100vh;
  padding-left: 11px; }
  .location #map {
    margin-top: 20px;
    height: 80vh;
    width: 80vw; }
    @media (min-width: 1024px) {
      .location #map {
        width: 90vw; } }

.contact {
  background-color: #7a369d;
  text-align: center;
  min-height: 190px;
  color: #FFF; }
  .contact h2 {
    font-size: 2rem;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #FFF !important; }
  .contact h3 {
    font-size: 1.3rem; }
  .contact div {
    margin-top: 50px;
    background-color: #FFF; }
    .contact div a {
      color: #7a369d; }
  .contact ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column; }
  .contact a {
    color: #000;
    font-size: 0.9rem; }

footer {
  background-color: #fff;
  text-align: center;
  color: #7a369d;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  padding: 1vh 2.5vw; }
  @media (min-width: 768px) {
    footer {
      -webkit-flex-flow: row;
      -ms-flex-flow: row;
      flex-flow: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media (min-width: 768px) {
    footer ul {
      -webkit-flex-flow: row;
      -ms-flex-flow: row;
      flex-flow: row;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; } }
  @media (min-width: 768px) {
    footer div {
      margin-top: 80px; } }
  footer a {
    color: #222; }
    footer a:hover {
      color: rgba(169, 203, 2, 0.9); }
