.staff {

  h2 {
    text-align: center;
  }

  .carousel {
    padding: 30px 100px 20px 100px;
  }

  .carousel-cell {
    width: 150px;
    height: 150px;
    margin-right: 35px;
    border-radius: 5px;
  }

  .carousel-cell img {
    display: flex;
    margin: auto;
    max-width: 100%;
  }

  .flickity-prev-next-button .arrow {
    fill: rgb(120,55,184);
  }

  @media(max-width: 414px) {
    .carousel {
      padding: 20px 5px 5px 5px;
    }

    .carousel-cell {
      width: 100px;
      height: 100px;
      margin-right: 15px;
    }
  }
}
