//primary Sass file
html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }


/* section maps */


.section-recuada {
    color: #000;
    margin: 30px auto;
    min-height: 80vh;
    text-align: center;
}

#map {
    height: 70vh;
    width: 80vw;
    margin: auto;
}


/* footer */

footer {
  font-family: sans-serif, serif;
  background-color: #000;
  text-align: center;
  height: 145px;
  margin: 0px 5vh;
  padding-top:50px;
  padding-bottom: 120px;
}

footer a {
  text-decoration: none;
  color: #383636;
  font-weight: bold;
}

footer h2,
footer h3 {
  color: #FFF;
}


footer div {
  background-color: #FFF;
  height: 50px;
  margin-top: 114px;
  display: flex;
  flex-flow: column;
  justify-content: center;

}

.link-footer {
  margin: 2px 60px;
}

@media (min-width:768px){
  .links-footer{
    flex-flow: row;
    justify-content: space-between;
  }

  .item-link-footer {
    margin: 20px 60px;
  }

  footer {
    height: 180px;
    margin: 0px 100px;
    padding-top:20px;
    padding-bottom: 90px;
  }
}
