//Colors
$dark-purple: #9c27b0;
$light-purple: #ab47bc;
$old-purple: #7a369d;
$transparent-dark-purple: rgba(156, 39, 176, .6);
$transparent-light-purple: rgba(171, 71, 188, .6);
$transparent-old-purple: rgba(120,55,184,.6);
$dark-green: #b2ff59;
$light-green: #ccff90;
$dark-black: #424242;
$light-black: #555;
$grey: #ccc;
$white: #fff;

//Fonts
$primary-font: 'Montserrat', sans-serif;
$detail-font: monospace;
