<section class="container">
  <h2>Agenda ADS</h2>
   <ul class="tab-list">
       <li class="tab active" onclick="openCourse(this, 'seg');"><a href="javascript:void(0)">segunda (xx/10)</a></li>
       <li class="tab" onclick="openCourse(this, 'ter');"><a href="javascript:void(0)">terça (xx/10)</a></li>
       <li class="tab" onclick="openCourse(this, 'qua');"><a href="javascript:void(0)">quarta (xx/10)</a></li>
       <li class="tab" onclick="openCourse(this, 'qui');"><a href="javascript:void(0)">quinta (xx/10)</a></li>
       <li class="tab" onclick="openCourse(this, 'sex');"><a href="javascript:void(0)">sexta (xx/10)</a></li>
       <li class="tab" onclick="openCourse(this, 'sab');"><a href="javascript:void(0)">sabado (xx/10)</a></li>
   </ul>
   <div id="seg" class="schedule" style="display: block">
     <div class="timeline-container">
       <ul class="timeline-item">
         <li>
           <span>08:00</span>
           <div>
             <strong>Conheça o pinguim:como começar a usar linux</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>09:00</span>
           <div>
             <strong>Mini-curso: HTML + CSS - 1º dia</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>19:00</span>
           <div>
             <strong>Cerimônia de Abertura</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>19:00</span>
           <div>
             <strong>Testes e Automação de Software</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>20:00</span>
           <div>
             <strong>Docker, AWS e Google Cloud: Introdução à carreira de DevOps</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>21:00</span>
           <div>
             <strong>Segurança para Web</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
       </ul>
     </div>
   </div>
   <div id="ter" class="schedule">
     <div class="timeline-container">
       <ul class="timeline-item">
         <li>
           <span>08:00</span>
           <div>
             <strong>Currículo+Carreira+Entrevistas</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>09:00 - 12:00</span>
           <div>
             <strong>Mini-curso: HTML + CSS - 2º dia</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
            <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>19:00 - 22:00</span>
           <div>
             <strong>Mini-curso: APIs com NodeJS - 1º dia</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>19:00 - 22:00</span>
           <div>
             <strong>Python + Flask - 1º dia</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
            <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>19:00 - 22:00</span>
           <div>
             <strong>Mini-curso: Ionic 2 - 1º dia</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
       </ul>
     </div>
   </div>
   <div id="qua" class="schedule">
     <div class="timeline-container">
       <ul class="timeline-item">
         <li>
           <span>08:00</span>
           <div>
             <strong>Aprendendo qualquer linguagem/framework: um panorama da área atual</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>09:00 - 12:00</span>
           <div>
             <strong>Mini-curso: Android is too izi - 1º dia</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>19:00 - 22:00</span>
           <div>
             <strong>Mini-curso: APIs com NodeJS - 2º dia</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>19:00 - 22:00</span>
           <div>
             <strong>Mini-curso: APIs com NodeJS - 2º dia</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>19:00 - 22:00</span>
           <div>
             <strong>Mini-curso: APIs com NodeJS - 2º dia</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
            <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>19:00</span>
           <div>
             <strong>UX no Google</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>20:00</span>
           <div>
             <strong>IoT</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>21:00</span>
           <div>
             <strong>Startups</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
       </ul>
     </div>
   </div>
   <div id="qui" class="schedule">
     <div class="timeline-container">
       <ul class="timeline-item">
         <li>
           <span>08:00</span>
           <div>
             <strong>Como Organizar a Semana de Tecnologia em 2017</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>09:00 - 12:00</span>
           <div>
             <strong>Mini-curso: Android is too izi - 2º dia</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>19:00 - 22:00</span>
           <div>
             <strong>Mini-curso: APIs com NodeJS - 2º dia</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>19:00 - 22:00</span>
           <div>
             <strong>Python + Flask - 2º dia</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>19:00 - 22:00</span>
           <div>
             <strong>Mini-curso: Ionic 2 - 2º dia</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>19:00</span>
           <div>
             <strong>Overview de carreiras na área de tecnologia</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>20:00</span>
           <div>
             <strong>Carreira em Desenvolvimento de Games</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>21:00</span>
           <div>
             <strong>Carreira no Exterior: de Sorocaba ao Infinito e Além</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
       </ul>
     </div>
   </div>
   <div id="sex" class="schedule">
     <div class="timeline-container">
       <ul class="timeline-item">
         <li>
           <span>08:00</span>
           <div>
             <strong>Programação Competitiva</strong>
             <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>09:00 - 12:00</span>
           <div>
             <strong>Mini-curso: Android is too izi - 3º dia</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>19:00</span>
           <div>
             <strong>Palestras Relâmpago</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
             <p>A confirmar</p>
           </div>
         </li>
         <li>
           <span>20:00</span>
           <div>
             <strong>Fish Bowl</strong>
             <div class="label-type">
                <p>palestra</p>
             </div>
             <div class="label-subscribe">
                <a href="#" class="btn">Inscreva-se</a>
             </div>
           </div>
         </li>
         <li>
           <span>21:00</span>
           <div>
             <strong>Encerramento</strong>
           </div>
         </li>
       </ul>
     </div>
   </div>
   <div id="sab" class="schedule">
     <div class="timeline-container">
       <div class="area-commitao">
         <div>
          <h2>Commitão</h2>
          <p>Espaço reservado aprender como contribuir no GitHub e entender o fluxo de trabalho, juntamente com instrutores que trabalham na área de desenvolvimento.</p>
          <p>Venha contribuir com projetos open-source!</p>
         </div>
       </div>
     </div>
   </div>
