.contact {
  background-color: #9C27B0;
  text-align: center;
  min-height: 190px;

  h2 {
    font-size: 2rem;
    padding: 10px 0px;
    color: #FFF;
  }

  h3 {
    font-size: 1.3rem;
    color: #FFF;
  }

  div {
    margin-top: 50px;
    background-color: #FFF;
  }

  ul {
    display: flex;
    flex-flow: column;
  }

  .button {
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #B2FF59;
    max-width: 150px;
    margin: 1rem auto auto;
  }
}
