.contact {
  background-color: rgb(120,55,184);
  text-align: left;
  min-height: 190px;
  padding: 0;

  h2 {
    font-size: 2rem;
    padding: 10px 0px;
    color: #FFF;
  }

  h3 {
    font-size: 1.3rem;
    color: #FFF;
  }

  .button {
    background-color: #ccff90;
    border-radius: 4px;
    &:hover {
      background-color: #b2ff59;
    }
  }

  @media(max-width:414px) {
    text-align: center;
    .button {
      padding: 10px 20px;
      max-width: 150px;
      margin: 1rem auto auto;
    }
  }

  @media(min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
      .button {
        padding: 10px 20px;
        max-width: 230px;
        margin: 1rem auto auto;
      }
      &__content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
      }

      &__info {
        margin-right: 50px;
      }
  }

}
