.contact {
  background-color: #7a369d;
  text-align: center;
  min-height: 230px;
  color: #FFF;

  h2 {
    font-size: 2rem;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #FFF !important;
  }

  h3 {
    font-size: 1.3rem;
  }

  div {
    margin-top: 50px;
    background-color: #FFF;

    a {
      color: #7a369d;
    }
  }

  ul {
    display: flex;
    flex-flow: column;
  }

  a {
    color: #000;
    font-size: 0.9rem;
  }
}

footer div{
  @include tablet {
    margin-top: 80px;
  }
}

footer ul {
  @include tablet {
    flex-flow: row;
    justify-content: space-around;
  }
}
