  footer {
    background-color: #000;
    text-align: center;
    min-height: 40vh;
    color: #FFF;

    h2 {
      font-size: 2rem;
      padding-top: 30px;
      padding-bottom: 10px;
    }

    h3 {
      font-size: 1.3rem;
    }

    div {
      margin-top: 40px;
      padding-bottom: 6px;
      background-color: #FFF;
    }

    a {
      color: #000;
      font-size: 0.9rem;
    }
  }


  footer div{
    @include tablet {
      flex-flow: row;
      justify-content: space-between;
    }


  .link-footer {
    @include tablet {
      margin: 15px 160px;
    }
  }

  footer {
    @include tablet {
      height: 180px;
      margin: 0px 100px;
      padding-top:20px;
      padding-bottom: 90px;
    }
  }
}
