footer {
    background-color: rgb(120,55,184);
    text-align: center;
    display: flex;
    flex-flow: column;
    padding: 0.05vh 2.5vw;

    p {
      font-size: 12.5px;
    }

    @media (min-width: 768px) {
      flex-flow: row;
      justify-content: space-between;
    }

    ul {
      @include tablet {
        flex-flow: row;
        justify-content: space-around;
      }
    }

    div {
      @include tablet {
        margin-top: 80px;
      }
    }

    a {
      color: $white;
      &:hover {
        color: $dark-green;
      }
    }
  }
