footer {
    background-color: #9C27B0;
    text-align: center;
    display: flex;
    flex-flow: column;
    padding: 0.05vh 2.5vw;
  
    p {
      font-size: 12.5px;
    }

    @media (min-width: 768px) {
      flex-flow: row;
      justify-content: space-between;
    }

    ul {
      @include tablet {
        flex-flow: row;
        justify-content: space-around;
      }
    }

    div {
      @include tablet {
        margin-top: 80px;
      }
    }

    a {
      color: #fff;
      &:hover {
        color: #B2FF59;
      }
    }
  }
