//common styles

* {
	margin: 0;
  padding: 0;
	@include box-sizing(border-box);
}

html {
	font-size: 16px;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

img {
	border: 0;
}

a {
	text-decoration: none;
}

.contact,a{
	color: #424242;
	font-size: 1rem;
	font-weight: bold;
}

input[type=submit] {
	cursor: pointer;
	border: none;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.division-stripe {
	background-color: $white;
	height: 5px;
	width: 100%;
}
