.header {
  margin: auto;
  text-align: center;
  color: $white;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-image: url("../img/bg-header.jpg");
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  position: relative;
  padding-bottom: 15px;
  z-index: 2;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $transparent-old-purple;
    z-index: -1;
    content: "";
  }

  &__button {
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $dark-black;
      font-size: 1rem;
      margin-top: 40px;
      background-color: rgba($dark-green, .8);
      border-radius: 4px;
      padding: 20px 30px;
      transition: color .3s ease-in;

      @include tablet {
        font-size: 1.5rem;
        margin-top: 80px;
        padding: 20px 50px;
      }

      &:hover {
        background-color: rgba($dark-green, .9);
      }
  }

  h1 {
    font-size: rem(34px);
    padding: 30px 12px 0px 12px;
    margin: 10vh auto 10vh auto;
    text-transform: uppercase;
    color: $white;

    @include tablet {
      font-size: rem(54px);
    }

    @include desktop {
      font-size: rem(56px);
    }
  }

  .header__info {
    padding-top: 15px;

    p {
      font-size: rem(20px);
      color: $white;
      padding-bottom: 5px;

      @include tablet {
        padding-top: 0;
        font-size: rem(40px);
      }

      @include desktop {
        font-size: rem(34px);
        display: inline-block;
        margin-right: 20px;
      }
    }
  }

  .corner {
    background: $dark-green;
    color: $dark-black;
    font-size: 10px;
    position:absolute;
    top: 20px;
    left: -77px;
    width: 225px;
    text-align: center;
    @include transform(rotate(-45deg));

    @include desktop {
      font-size: 22px;
      top: 40px;
      left: -56px;
      width: 250px;
      padding: 10px;
      text-align: center;
    }

  }

  img {
    max-width: 65%;
    padding-bottom: 15px;

    @include tablet {
      max-width: 50%;
    }

    @include desktop {
      max-width: 45%;
    }

  }
}
