/*button*/
@import 'buttons';

.organization {
	background-color: #ccc;
	text-align: center;
	width: 100%;
	padding: 2rem 0;

	a {
		margin: 1rem auto auto auto;
		display: block;
		max-width: 150px;
		color: #222;
		&:visited {
			color: #222;
		}
	}
}
