.support {
	h2 {
		margin-bottom: 2rem;
	}

	ul {
		display: flex;
		flex-flow: row wrap;
		margin: 0 auto;
		justify-content: space-between;
	}

	li {
		width: 26%;
		margin: 48px 0;

		img {
			max-width: 100%;
		}
	}
}
