.tab-list {
    background: #C2C2C2;
    align-items: stretch;
    display: inline-flex;
    width: 100%;
    margin: 30px 0;

    li {
        width: 25%;
        text-align: center;
        padding: 26px 0;
        @include border-radius(10 10 0 0);
    }
}

.timeline-container {
    margin: 20px 0;
}

.timeline-item {
    margin: 20px 0;

    li {
      margin: 20px 0;
      display: flex;
    }

    span {
      margin-right: 30px;
    }
}

.none {
    display: none;
}

.ads {
    background: #4b38c2;
}

.fab {
    background: #32833c;
}

.sis {
    background: #8c2154;
}
