.tab-list{
    background: #C2C2C2;
    align-items: stretch;
    display: inline-flex;
    list-style-type: none;
}
.tab{
    height: 60px;
    width: 120px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    text-align: center;
}

.calendar-body-style{
    font-style: italic;
    font-size: 40px;
    display: inherit;
}

.none{
    display: none;
}

.ads{
    background: #4b38c2;
}

.fab{
    background: #32833c;
}

.sis{
    background: #8c2154;
}
