footer {
    background-color: #fff;
    text-align: center;
    color: rgb(120,55,184);
    display: flex;
    flex-flow: column;
    padding: 1vh 2.5vw;

    @media (min-width: 768px) {
      flex-flow: row;
      justify-content: space-between;
    }

    ul {
      @include tablet {
        flex-flow: row;
        justify-content: space-around;
      }
    }

    div {
      @include tablet {
        margin-top: 80px;
      }
    }

    a {
      color: #222;
      &:hover {
        color: rgba(169,203,2,.9);
      }
    }
  }
