/*button*/
@import 'buttons';

.organization {
	background-color: #7a369d;
	width: 100%;
	padding: 2rem 0;
	text-align: center;

	h2 {
		color: #fff;
	}

	p {
		padding-top: 20px;
		color: #fff;
	}

	a {
		margin: 1.2rem auto auto auto;
		display: block;
		max-width: 150px;
		color: #fff;
		&:visited {
			color: #fff;
		}

		&:hover {
			background-color: rgba(169,203,2, 1);
		}
	}
}
