//global project variables
//Colors
$dark-purple: #9c27b0;
$light-purple: #ab47bc;
$transparent-dark-purple: rgba(156, 39, 176, .6);
$dark-green: #b2ff59;
$light-green: #ccff90;
$dark-black: #424242;
$light-black: #555;
$grey: #ccc;
$white: #fff;

//Fonts
$primary-font: 'Montserrat', sans-serif;
$detail-font: monospace;